Source: ros-kilted-rmw-implementation-cmake
Section: misc
Priority: optional
Maintainer: Brandon Ong <brandon@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-ament-lint-auto <!nocheck>, ros-kilted-ament-lint-common <!nocheck>, ros-kilted-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-kilted-rmw-implementation-cmake
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-ament-cmake, ros-kilted-ros-workspace
Description: CMake functions which can discover and enumerate available implementations.
